body {
  margin: 0;
  padding: 0;
  background-color: #0a0a10;
}
body i {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  font-size: 1.5em;
  opacity: 0.5;
}

#main-container {
  width: 90vw;
  height: 80vh;
  min-height: 600px;
  margin: 2em auto;
  padding: 1em;
  display: grid;
}
@media (min-width: 900px) {
  #main-container {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "editor editor" "preview block" "count count" "input input";
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }
}
@media (max-width: 900px) {
  #main-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "editor" "preview" "block" "count" "input";
    grid-row-gap: 1em;
  }
  #main-container #block-view h1 {
    font-size: 0.8em;
  }
}
#main-container #editor {
  grid-area: editor;
  font-size: 1.5em;
  resize: none;
  padding: 0.5em;
  min-height: 300px;
}
#main-container .fullScreen {
  position: fixed;
  top: 0;
  margin: 1em auto;
  width: 90vw;
  height: 80vh;
  z-index: 5;
}
@media (max-width: 900px) {
  #main-container .fullScreen {
    left: 0;
    height: 80vh;
    margin: 1em auto auto 1.5em;
  }
}
#main-container .normal {
  position: relative;
}
#main-container #preview {
  grid-area: preview;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  min-height: 300px;
  padding: 1em;
  background-color: #e9e9f5;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#main-container #preview::-webkit-scrollbar {
  display: none;
}
#main-container #preview #textBlock {
  font-size: 1.3em;
  margin: 0 0.5em 0.2em 0;
}
#main-container #preview #textBlock:hover {
  padding: 0.1em;
  color: white;
  background: #0a0a10;
}
#main-container #preview .isActive {
  padding: 0.1em;
  color: white;
  background: #0a0a10;
}
#main-container #block-view {
  grid-area: block;
  background-color: #e9e9f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-container #block-view p {
  font-size: 3em;
}
@media (max-width: 900px) {
  #main-container #block-view {
    padding: 2em;
  }
  #main-container #block-view p {
    font-size: 1.5em;
  }
}
#main-container #wordCount {
  grid-area: count;
  color: white;
  text-align: center;
  font-size: 1.5em;
}
#main-container #input-view {
  grid-area: input;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
#main-container #input-view button {
  font-weight: bold;
  margin: 0 0.8em 0.8em 0;
}
#main-container #input-view label {
  color: white;
  font-weight: bold;
  margin: 0 0.8em 0.8em 0;
}
#main-container #input-view #wpmDropdown {
  max-width: 5em;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 0.5em;
  padding: 0.3em;
  font-weight: bold;
}
#main-container .lower {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  justify-content: center;
  padding: 1em;
  z-index: 10;
  background-color: #0a0a10;
}/*# sourceMappingURL=styles.css.map */